body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Satoshi";
  src: local("SatoshiRegular"),
    url("./assets/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "Satoshi";
  src: local("SatoshiMedium"),
    url("./assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Satoshi";
  src: local("SatoshiBold"),
    url("./assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Reforma1918Blanca";
  src: local("Reforma1918Blanca"),
    url("./assets/fonts/Reforma1918Blanca/reforma-1918-blanca.otf")
      format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "Cardo";
  src: local("CardoRegular"),
    url("./assets/fonts/Cardo/Cardo-Regular.ttf") format("truetype");
  font-weight: regular;
}
